@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root {
    color-scheme: light dark;
    --primary-font: 'NotoSans', sans-serif;

    --text-light: light-dark(#040c30, #ffffff);
    --text-default: light-dark(#72757a, #c3c6cf);

    --color-highlight: light-dark(#c52519, #f35c55);

    --bg-dark: light-dark(#fcfdff, #1f2535);
    --bg-default: light-dark(#eef0ef, #30364e);
    --bg-light: light-dark(#d9e2f1, #555b6b);

    --bg-gradient-from: light-dark(#ebf2fc ,#050a1d);
    --bg-gradient-to: light-dark(#effbf9, #0a1542);
    --bg-gradient-angle: -180deg;

    --theme-light-toggler-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 22 22'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23091540' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.98' d='M20.125 11.877A7.333 7.333 0 1110.124 1.875a9.168 9.168 0 1010.001 10.002z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h22v22H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    --theme-dark-toggler-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 22 22'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23FBFDFE' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.98' d='M11 1.833v1.834m0 14.666v1.834M3.667 11H1.833m3.955-5.212L4.492 4.492m11.72 1.296l1.297-1.296M5.788 16.215l-1.296 1.296m11.72-1.296l1.297 1.296M20.167 11h-1.834m-2.75 0a4.583 4.583 0 11-9.167 0 4.583 4.583 0 019.167 0z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h22v22H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}


body {
    font-family: var(--primary-font);
    color: var(--text-light);
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--bg-gradient-to);

    &::before {
        content: '';
        display: block;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(var(--bg-gradient-angle), var(--bg-gradient-from) 0%, var(--bg-gradient-to) 100%);
    }

    main {
        max-width: 1318px;
        margin-inline: auto;
        padding: 20px;
        box-sizing: border-box;

        > header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-radius: 10px;
            background-color: var(--bg-dark);
            margin-block-end: 70px;

            @media (max-width: 580px) {
                margin-block-end: 40px;
            }

            h1 {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                font-size: 24px;
                font-weight: 700;

                svg {
                    display: inline-block;
                    height: 42px;
                    width: 42px;
                    vertical-align: middle;

                    path {
                        fill: var(--color-highlight);
                    }
                }
            }

            button {
                border: 0;
                background-color: var(--bg-default);
                border: 1px solid var(--bg-dark);
                padding: 14px;
                border-radius: 8px;
                box-shadow: 0;
                transition: box-shadow .2s, background-color .2s;
                cursor: pointer;

                &::before {
                    content: '';
                    display: block;
                    width: 22px;
                    height: 22px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: var(--theme-light-toggler-svg);

                    @media (prefers-color-scheme: dark) {
                        background-image: var(--theme-dark-toggler-svg);
                    }
                }

                &:hover, &:focus {
                    background-color: var(--bg-light);
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 2px var(--color-highlight);
                }
            }
        }

        > section {
            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-block-end: 30px;

                @media (max-width: 580px) {
                    justify-content: unset;
                    flex-direction: column;
                    gap: 10px;
                }

                h2 {
                    font-size: 30px;
                    font-weight: 700;
                    margin: 0;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    gap: 10px;

                    a {
                        display: block;
                        padding: 12px 20px;
                        margin: 0;
                        border: 0;
                        border-radius: 25px;
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;
                        background-color: var(--bg-dark);
                        border: 1px solid var(--bg-light);
                        color: var(--text-default);
                        box-shadow: 0;
                        cursor: pointer;
                        -webkit-transition: color .2s, border-color .2s, background-color .2s, box-shadow .2s;
                        transition: color .2s, border-color .2s, background-color .2s, box-shadow .2s;

                        &:hover, &:focus {
                            color: var(--text-light);
                            background-color: var(--bg-light);
                            border: 1px solid var(--bg-dark);
                        }

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 0 2px var(--color-highlight);
                        }

                        &.active {
                            color: var(--bg-dark);
                            border-color: var(--color-highlight);
                            background-color: var(--color-highlight);
                        }
                    }
                }
            }

            .extensions {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 12px;

                article {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: var(--bg-dark);
                    border: 1px solid var(--bg-light);
                    border-radius: 16px;
                    padding: 18px;
                    max-width: 380px;

                    header {
                        display: flex;
                        align-items: flex-start;
                        gap: 18px;

                        h3 {
                            margin-block: 0 10px;
                        }

                        p {
                            margin: 0;
                            color: var(--text-default);
                            padding-right: 30px;
                        }
                    }

                    footer {
                        margin-block-start: 45px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        button {
                            padding: 12px 20px;
                            margin: 0;
                            border: 0;
                            border-radius: 25px;
                            font-size: 14px;
                            font-weight: 500;
                            color: var(--text-light);
                            font-weight: 500;
                            background-color: var(--bg-dark);
                            border: 1px solid var(--bg-light);
                            box-shadow: 0;
                            cursor: pointer;
                            -webkit-transition: color .2s, border-color .2s, background-color .2s, box-shadow .2s;
                            transition: color .2s, border-color .2s, background-color .2s, box-shadow .2s;

                            &:hover {
                                color: var(--bg-dark);
                                background-color: var(--color-highlight);
                                border-color: var(--color-highlight);
                            }

                            &:focus {
                                outline: none;
                                background-color: var(--bg-light);
                                border-color: var(--bg-dark);
                                box-shadow: 0 0 0 2px var(--color-highlight);
                            }
                        }

                        .toggle {
                            position: relative;
                            display: inline-block;
                            width: 40px;
                            height: 22px;

                            .slider {
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: var(--bg-light);
                                border: 1px solid var(--bg-dark);
                                border-radius: 34px;
                                -webkit-transition: .4s;
                                transition: .4s;
                                pointer-events: none;

                                &:before {
                                    position: absolute;
                                    content: "";
                                    height: 16px;
                                    width: 16px;
                                    left: 2px;
                                    bottom: 2px;
                                    background-color: light-dark(var(--bg-dark), var(--text-light));
                                    border-radius: 34px;
                                    -webkit-transition: .4s;
                                    transition: .4s;
                                }
                            }

                            input {
                                opacity: 0;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;

                                &:checked + .slider {
                                    background-color: var(--color-highlight);

                                    &:before {
                                        -webkit-transform: translateX(18px);
                                        -ms-transform: translateX(18px);
                                        transform: translateX(18px);
                                    }
                                }

                                &:focus + .slider {
                                    outline: none;
                                    box-shadow: 0 0 0 2px var(--color-highlight);
                                }
                            }



                            &:focus {
                                .slider {
                                    outline: none;
                                    box-shadow: 0 0 0 2px var(--color-highlight);
                                }
                            }
                        }
                    }
                }
            }
        }

        > footer {
            margin-block-start: 100px;

            &, a {
                font-size: 11px;
                text-align: center;
                color: var(--text-default);
            }
        }
    }

    &.light {
        color-scheme: light;

        main {
            > header {
                button {
                    &::before {
                        background-image: var(--theme-light-toggler-svg);
                    }
                }
            }
        }
    }

    &.dark {
        color-scheme: dark;

        main {
            > header {
                button {
                    &::before {
                        background-image: var(--theme-dark-toggler-svg);
                    }
                }
            }
        }
    }
}