.input_group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-block-end: 1.5rem;
}

.input_group label {
  font-size: .8125rem;
  color: var(--primary-marine-blue);
  margin-block-end: .5rem;
}

.input_group input {
  padding: .625rem;
  border-radius: .5rem;
  border: 1px solid var(--neutral-light-gray);
}
.input_group input:focus {
  outline: none;
  border-color: var(--primary-marine-blue)
}
.input_group input.error {
  border-color: var(--primary-strawberry-red)
}